<html>
<head>

<link rel="stylesheet" type="text/css" href="/style/mainstyle.css">



</head>
<body>
{% include "rd/sidebar.html" %}

<div id="main">

<h1><!-- {{ facility }} -->
{{ facility.loc_name }}
</h1>
<h2>{{ facility.loc_type }}</h2>

<div id="desc">
{{ facility.loc_desc }}
</div>
<div id="tag-holder">
<div id="feature-header"><h2>Features</h3></div>
<div id="warning-header"><h2>Warnings</h3></div>
 <div id="content-holder">
<div id="features">nthueoa</div>
<div id="warnings">ntheoasu<br />oentuh<br />One<br />Two</div>
</div>
<br />
</div>
<br />

<div id="reviews">
	<h2>Reviews</h2> mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm

</div>

<div id="test"></div>

</div>




</body>
</html>
